* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212125;
  color: whitesmoke;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

/* ------ header ------ */

.header {
  width: 80vw;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 2rem;
}

/* ------ options ------ */

.header .buttons {
  float: right;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}

.header .buttons > div {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  min-width: 2.8rem;
  min-height: 1.5rem;
  padding: 0.4rem 0 0.25rem 0;
  border: 1px solid black;
  border-radius: 0.4rem;
  background-color: gray;
  margin-left: 0.25rem;
  cursor: pointer;
}

.header .buttons > div:hover {
  background-color: #525252;
}

.header .buttons > div.active {
  background-color: #525252;
}

.header .buttons > div .content h3 {
  margin: 0;
  cursor: text;
}

.header .buttons > div .content .close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.header .buttons > div .content p {
  cursor: text;
}

.header .buttons > div:not(.active) .content {
  visibility: hidden;
}

.header .buttons > div .content {
  visibility: visible;
  position: absolute;
  text-align: justify;
  padding: 1.5rem;
  max-width: 100vw;
  width: 50rem;
  height: fit-content;
  max-height: 90vh;
  font-size: 0.9rem;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 0.4rem;
  color: black;
  top: 2.5rem;
  right: 0;
  z-index: 2;
  cursor: default;
  overflow: auto;
  scrollbar-color: #1a71e4;
  scrollbar-width: thin;
  -ms-overflow-style: initial;
}

.header .buttons > div .content::-webkit-scrollbar {
  display: initial;
  padding: 0.5rem;
  width: 0.5rem;
  cursor: pointer;
}

/* ------ instructions table ------ */

.header .buttons > div .content table {
  width: 100%;
  border: 0.1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

.header .buttons > div .content th,
.header .buttons > div .content td {
  border: 0.1px solid black;
  padding: 0.5rem;
  text-align: justify;
}

.header .buttons > div .content th {
  background-color: #b6b6b6;
  font-weight: bold;
}

/* ------ settings input ------ */

.header .buttons > div .content input {
  width: 85%;
}

.header .buttons > div .content label {
  display: block;
  float: right;
  width: 11%;
  margin-top: 0.1rem;
}

.header .buttons > div.settings .content {
  width: 20rem;
}

/* ------ grid ------ */

.grid {
  display: grid;
  grid-template-columns: repeat(80, 1vw);
  min-width: 80vw;
  min-height: 25vw;
  line-height: 0;
  overflow: hidden;
  border-radius: 0.4rem;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: black;
  border-left: 1px solid #969696;
  border-top: 1px solid #969696;
  font-size: 0.7rem;
  font-weight: bold;
  width: 1vw;
  height: 1vw;
  font-family: Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 3rem;
  height: 1rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: calc(100% + 3px);
  z-index: 1;
  pointer-events: none;
}

.tooltip:hover {
  visibility: hidden;
}

.cell:hover .tooltip {
  visibility: visible;
}

/* ------ interface ------ */

.interface {
  width: 80vw;
  height: calc(100vh - 25vw - 5.5rem);
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.interface div {
  height: 80%;
  padding: 0 0.5rem;
}

.interface h5 {
  margin: 0.75rem 0.5rem 0.5rem 0.5rem;
}

.interface textarea {
  font-family: monospace;
  height: 100%;
  border-radius: 0.4rem;
  padding: 0.2rem;
  scrollbar-color: #1a71e4;
  scrollbar-width: thin;
  -ms-overflow-style: initial;
}

::-webkit-scrollbar-thumb {
  background-color: #1a71e4;
  border-radius: 3rem;
  cursor: pointer;
}

.interface textarea::-webkit-scrollbar {
  display: initial;
  padding: 0.5rem;
  width: 0.5rem;
  cursor: pointer;
}

.stack textarea {
  color: white;
}

.console {
  flex-grow: 1;
}

.console textarea {
  width: 100%;
  height: 80%;
  background-color: black;
  color: whitesmoke;
}

.console .buttons {
  height: 20%;
  padding: 0.2rem;
}

button {
  width: 23%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #1a71e4;
  color: white;
}
